.profile {
  width: 400px;
  padding: 30px;
  background-color: white;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
}

.avatar {
  padding: 15px;
  display: block;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: burlywood;
}

.stats {
  display: flex;
  list-style: none;
  padding: 0;
  background-color: #e9ebf3;
}

.item {
  display: flex;
  flex-direction: column;
  flex-basis: calc(100% / 3);
  align-items: center;
  border: 1px solid rgb(199, 198, 198);
  padding: 10px;
  /* justify-content: center; */
}
